@import "tailwindcss";

@theme {
  --color-background: #f4f5fb;
  --color-foreground: #1A2350;
  --color-primary: #1A2350;
  --color-secondary: #F5A623;
  --color-border: #dde0f0;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
